@charset "utf-8";
/* CSS Document */

 html * {
	margin: 0;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Page Elements */
body, div {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	font-style: normal;
	position: relative;
	margin: 0;
	padding: 0;
}

body { /*content including background */
	background:#f7f7f7 url('../img/bg-noise.png');
	width: 100%;
	text-align: center;
}

.wrapper {
	max-width: 62.5em;
	overflow: hidden;
	padding: 0 5%;
	margin: 0 auto;
	text-align: center;
}


/* Text Styles*/
h1, h2, h3, h4, h5, h6 {
	font-family: 'Raleway', sans-serif;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
	margin: 0;
	text-align: center;
	color: #fff;
}

h1 { /* Headline */
	font-size: 2.5em;
	text-shadow: 1px 2px 0 rgba(0, 0, 0, 0.3);
	font-weight: 700;
	line-height: initial;
}

h2 { /* Title */
	font-size: 1.75em;
	text-shadow: 1px 2px 0 rgba(0, 0, 0, 0.3);
	font-weight: 700;
	padding: 0 0.45em;
}

h3 { /* Name Title */
	font-size: 1.5em;
	font-weight: 200;
	padding: 0.5em 0 0;
}

h4 { /* Project Title */
	font-size: 1.5em;
	font-weight: 500;
}

h5 { /* Thin Title */
	font-size: 1.125em;
	font-weight: 300;
	padding: 0.125em 0 0;
}


p {
	font-size: 0.75em;
	text-align: left;
	padding: 0;
	margin: 0 0 0.5em;
}

.semi-bold {
	font-weight: 500;
}

img {max-width: 100%}


img.scroll {
	width: 10%;
	max-width: 60px;
	margin: 1em;
	opacity: 0.75;
}

img.btn {
	position: relative;
	display: inline;
	max-width: 180px;
	margin: 0;
	padding: 0 0.5em 0 0;
	opacity: 0.6;
	transition: all 0.3s ease 0.02s;
	-webkit-backface-visibility:hidden;
}

img.able:hover {
	opacity: 1;
}


/* Layouts */
.center-content {
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	-webkit-transform: translate(-50%, -50%);
  	width: 100%;
}

.clearfix {z-index: -10;}

/* Sections */

/* Nav */
#nav, #small-nav {
	background-color:rgba(32,53,64,0.85);
	position: fixed;
	top: 0;
	z-index: 10;
	width: 100%;
	padding: 0.75em 0.5em 0.25em;
}

#nav #home {
	float: left;
}

#nav img.top {
	position: relative;
	top: -0.1em;
	width: 12%;
	padding-right: 0.5em;
}

#nav #anchors {
	float: right;
}

#nav a, #small-nav a {
	color: #ffffff;
	opacity: 0.75;
	padding: 0.5em;
	font-weight: 500;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
	transition: all 0.3s ease 0.1s;
}

#nav a:hover, #small-nav a:hover {
	opacity: 1;
}

#small-nav {
	text-align: center;
}

#small-nav img.top {
	position: relative;
	top: -0.1em;
	width: 1.75em;
	padding-right: 0.5em;
}


/* Cover */

#cover {
	width: 100%;
	height: 80%;
	background:
		linear-gradient(to bottom, rgba(0, 64, 153, 1) 0%, rgba(0, 64, 153, 0) 80%), 
		url('../img/photo/cover.jpg') center center no-repeat;
	background-attachment: fixed;
	background-size: cover;
	-webkit-font-smoothing: antialiased;
}

img#profile {
	width: 16%;
	border-radius: 50%;
}

#cover h1 {font-size: 1.75em;}


/* About */

#about {
	min-height: 50%;
}

#about h1 {
	color: #4c5e66;
	text-shadow: none;
	padding: 0.5em;
}

#about h2 {
	color: #4c5e66;
	font-size: 1.1em;
	font-weight: 700;
	text-shadow: none;
	padding: 0.5em 0.25em 0.15em 0;
}

#about img.icon {
	padding: 1em 3em 0.75em;
}

#about p {
	text-align: left;
	padding: 0.5em 0.25em 0.5em 0.5em;
	color: #829199;
}

#about hr {
	display: block;
	height: 2px;
	border: 0;
	border-top: 2px solid #ffb640;
	margin: 0 0.5em;
	padding: 0;
}

#about h3 {
	color: #14adcc;
	font-size: 1.2em;
	font-weight: 400;
	text-shadow: none;
	text-align: right;
	padding: 0.5em;
}

.bar {
	top: 0.8em;
	height: 1.2em;
	background: rgba(76, 93, 102, 0.2);
	width: 100%
}

.fill {
	height: 1.2em;
	background:#ffb640;
	overflow: hidden;
}

#about p.label {
	color: #ffffff;
	font-weight: 500;
	text-shadow: 1px 1px 0 rgba(229, 115, 0, 0.75);
	padding: 0.05em 0.5em;
}

.width-60 {width: 60%;}
.width-80 {width: 80%;}
.width-90 {width: 90%;}
.width-100 {width: 100%;}

.fill.start {
	width: 0px;
	background: #ffb640;
	-webkit-animation: fill-100 1.5s ease-out forwards;
	   -moz-animation: fill-100 1.5s ease-out forwards;
	    -ms-animation: fill-100 1.5s ease-out forwards;
	     -o-animation: fill-100 1.5s ease-out forwards;
	        animation: fill-100 1.5s ease-out forwards;
}
@-moz-keyframes fill-100 {
    0% {
        width: 0px;
    }

    100% {
        width: 100%;
    }
}
@-webkit-keyframes fill-100{
	0% {
	    width: 0px;
	}

	100% {
	    width: 100%;
	}
}

#about .what-else h2 {color: #14adcc;}

#red-rock-video {margin: 0.25rem;}


/* Quote */
#quote {
	width: 100%;
	min-height: 50%;
	background: url('../img/photo/quote.jpg') center center no-repeat;
	background-attachment: fixed;
	background-size: cover;
	margin: 3em 0 0;
  }


/* Work */

#work {
	min-height: 100%;
	padding: 0;
}

#slideshow-container {background-color: #000;}

#work h1 {
	color: #4c5e66;
	text-shadow: none;
}

#work-detail > * > div {overflow: hidden;}

#work-detail a {
	overflow: hidden;
	display:inline-block;
	max-width: 100%;
}

#work-detail a img.thumb {
	padding: 0;
	max-width: 100%;
	transition: all 0.3s ease-in 0s;
	-webkit-backface-visibility:hidden;
	-webkit-filter: grayscale(0%);
	filter: grayscale(0%)
	display: block;
}

#work-detail a:hover img.thumb {
	-webkit-filter: grayscale(60%);
	filter: grayscale(60%)
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

#work-detail a .view-project {
	position: absolute;
	color: #fff;
	z-index: 10;
	overflow: hidden;
	top: 0;
	left: 0;
	padding: 0;
	width: 100%;
	height: 95%;
}

#work-detail a .view-project > .inside {
	display: inline-block;
	margin-bottom: -1em;
	z-index: 11;
	background:linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 75%);
	width: 100%;
	height: 100%;
	opacity: 0;
		-webkit-transition: all 300ms ease-out;
		-moz-transition: all 300ms ease-out;
		-o-transition: all 300ms ease-out;
		-ms-transition: all 300ms ease-out;	
		transition: all 300ms ease-out;
}

#work-detail a:hover .view-project > .inside {
	opacity: 1;
}


#work-detail .view-project > .inside h3 {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	-o-transition: all 300ms ease-out;
	-ms-transition: all 300ms ease-out;	
	transition: all 300ms ease-out;
	margin: 0 25%;
	padding: 0.35em 0.5em; 
	border-radius: 4px;
	border: 2px solid #fff;
	font-weight: 400;
	font-size: 1.15em;
}

#work-detail .view-project > .inside h3:hover {background-color: rgba(0, 0, 0, 0.35);}

.thumb-info {
	text-align: left;
	margin: -0.5em 0 1.5em;
	padding: 0.5em 0.75em;
	background-color: #fff;
}

#work-detail h2 {
	font-size: 1.1em;
	text-align: left;
	text-shadow: none;
	color: #4c5e66;
	padding: 0;
}

#work-detail > * > * > a.link {
	font-size: 0.75em;
	font-weight: 500;
	padding: 0.25em 0.5em;
	background-color: #4c5e66;
	border-radius: 4px;
	color: #fff;
}

#work-detail > * > * > a.link:hover { background-color: #14adcc;}

#work-detail h1 {padding: 2em 0 1em; color: #4c5e66; font-size: 2em; text-shadow:none; }

/* Project Detail & Content */
.project-detail h2 {padding: 0.5em 0 0; color: #4c5e66; text-shadow:none; }
.project-detail h3 {padding: 0 0 1em; color: #829199; font-size: 1em; font-weight: 400; text-shadow:none; }
.project-detail p {text-align: center; padding: 0 0.5em;}
.project-content {margin: 2em 0;}
.project-content img {padding: 0.625em 1em 3em;}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 3em;
	height: 0;
	margin: 0 2em;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


/* Contact */

#contact {
	min-height: 50%;
	padding: 5%;
	background: 
		url('../img/bg-noise.png'),
		linear-gradient(to bottom, rgba(16, 48, 64, 1) 40%, rgba(32, 104, 128, 0.5) 80%, rgba(32, 104, 128, 0.5) 85%, rgba(16, 48, 64, 0.75) 100%), 
		url('../img/photo/contact-bg.jpg') center center no-repeat;
	background-attachment: fixed;
	/*background: linear-gradient(to bottom, rgba(32, 40, 47, 0.5) 10%, rgba(42, 74, 90, 0.5) 90%), url('../img/photo/bg-contact.jpg'); */
	color: #ffffff;
	text-align: center;
}

#contact-content {z-index: 10;}

#contact img {
	padding: 20% 5%;
	opacity: 0.67;
	transition: all 0.3s ease 0s;
	-webkit-backface-visibility:hidden;
}

#contact img:hover {
	opacity: 1;
}

#contact p#myemail {
	text-align: center;
	color: #c3dde5;
	margin: 0 0 0.5em;
	display: none;
}


#copyright {
	background-color: #1a2a33;
	color: rgba(195, 221, 229, 0.5);
}

#copyright > p {
	margin: 0;
	padding: 0.5em;
	text-align: center;
	font-size: 75%;
}


@media only screen and (max-width: 75em) {
	#about h2 {font-size: 110%;}
}

/* Medium screen */
@media only screen and (max-width: 64em) {
	#contact {min-height: 40%;}
	#about p {font-size: 90%;}
	#about p.label {margin-top: -0.2em;}
}


/* Small screen */
@media only screen and (max-width: 40em) { 
	html {font-size: 90%;}
	p {font-size: 110%;}
	img#profile {width: 50%;}
	h1 {font-size: 250%;}
	#cover h2 {font-size: 110%;}
	#cover {height: 100%;}
	.wrapper {padding: 0;}
	#about h2 {font-size: 150%}
	#quote {width: 100%;}
	#quote h2 {font-size: 1.5em;}
	#work {padding: 5% 0 0;}
}