@charset "utf-8";
/* CSS Document */

/* Page Elements */
body, div, p {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 1rem;
	font-style: normal;
	line-height: 1.5;
	position: relative;
	margin: 0;
	padding: 0;
}

body { /*content including background */
	background:  url('../img/bg.png');
	color: ;
	width: 100%;
}

ol, ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.container {
  margin: 0 auto;
  max-width: 75rem;
  width: 90%;
  text-align: left;
}


/* Text Styles*/
h1, h2, h3, h4, h5, h6 {
	font-family: 'Lato', sans-serif;
	font-weight: 600;
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 3em;
	font-variant: uppercase;
	padding: 0.5em 0;
}

h3 {
	font-size: 2em;
	padding: 0.25em 0;
}

h4 {
	font-size: 1.5em;
	padding: 0.25em 0;
}

h5 {
	font-size: 1.25em;
	padding: 0.25em;
}

p {
	text-align: left;
}

a {
	text-decoration: none;
	color: inherit;
}

.semibold { font-weight: 600;}


/* Entries */
.entry {
	list-style: none;
}